<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="row">
  <div class="column">
    <mat-card class="videouploader">
      <video #player width="480" height="320" controls>
      Your browser does not support the video tag.
      </video>
      <form> <input type="file" (change)="onchange($event)"  /> </form>
    </mat-card> </div>

  <div class="column">
    <mat-card class="videouploader">
      <h3>
        Top 5 scores:
      </h3>
    <div class="wrapper">
      <div class="box box1" *ngFor="let item of items">{{item}}

      </div>


    </div>
    </mat-card>
  </div>
</div>

